<div class="row exp-test">
    <h1> {{title}} </h1>
    <hr>
    <p> {{ body }}</p>
    <hr >

  <div class="row">
    <div class="col-md-8">
      <canvas id="myCanvas" width="1250" height="650"></canvas>
    </div>

  </div>
    <div class="input-group">

        {{bs-button class="pull-right" defaultText="Play" type="success" onClick=(action "play")}}

    </div>


  {{#each export_arr as |item|}}
    {{exp-text-block block=item}}
  {{/each}}



</div>

<div class="row exp-controls exp-test">
    <div class="btn-group">
        <button class="btn btn-default" {{ action 'previous' }} > Previous </button>
        <button class="btn btn-default pull-right"  {{ action 'next' }} > Next </button>
        <button   class="btn btn-success pull-right" {{ action 'finish' }}>submit!</button>
    </div>
</div>

